.theatre {
	width: 718px;
}

.theatre .clear-both {
	clear:both;
}

.theatre .titling {
	float: left;
	text-align: center;
	width: 160px;
}

.theatre .title {
	font-weight: bold;
	font-size: bigger;
}

.theatre .location, .theatre .timing, .theatre .status, .theatre .classification, .theatre .operations {
	margin-left: 160px;
}

.theatres .results {
	width: 720px;
	text-align: left;
	float: left;
	margin: 0px;
	padding-right: 2px;
}

.theatres .facets {
	float: right;
	width: 238px;
}

div.exhibit-viewPanel {
	margin-right: 2px;
}


div.exhibit-collectionView-group-content div.theatre {
	width: 705px;
}

div.exhibit-toolboxWidget-popup {
 /* display: none; */
}