/* Fixing text */
div.nav h2 a {
	padding-top:	0px;
}.featuredtheatres h1 {
	padding-top:0px;
}.nav_1 h2 a, .nav_4 h2 a {
	color:#fff;
}
/* Fixing images */
#home .featuredarea h1, #entry .featuredarea h1 {
	background-image:url(../images/h1Home.gif);
}#location .featuredarea h1 {
	background-image:url(../images/h1Location.gif);
}#theatretype .featuredarea h1 {
	background-image:url(../images/h1Theatretype.gif);
}#period .featuredarea h1 {
	background-image:url(../images/h1Period.gif);
}#researchers .featuredarea h1 {
	background-image:url(../images/h1Researchers.gif);
}#researchers .featuredarea h1, #researchers .button a {
	background-image:url(../images/h1Researchers.gif);
}#researchers .button a:hover {
	background-image:url(../images/h1ResearchersHover.gif);
}

/* Fixing position */
div.nav .nav_1, div.nav .nav_2, div.nav .nav_3, div.nav .nav_4, div.nav .nav_5 {
	margin-right:0px;
}.div.recentupdates {
	padding:0;
	margin-right:-10px;
}.recentupdates img {
	margin:0px;
	padding:0px;
}.featuredlist li {
	height:auto;
}div.featuredsidebar {
	padding:0px;	
	margin:0;
}#entry .entryDetails  {
	padding-right:0px;
}#entry .maincontent {
	float:right;
	clear:left;
}#entry .editor .rightpadding {
	float:right;
	clear:left;
	padding-right:10px;
}#entry .qualityControl {
	width:610px;
}