/* =====================
Theatre Finder
Copyright 2009-2010 MITH

Written by Elisabeth Kvernen
Maryland Institute for Technology in the Humanities

swatch colors
------------------
ab2023 - red
97c53c - green
ffcf41 - yellow
2c6871 - teal
f69c2d - orange
cde6e9 - light blue
======================== */
/*general styles*/
body { 
	font-family:Arial, Helvetica, sans-serif;
	background:#e5e5e5 url(../images/bkgd_shadow.png) repeat-y scroll 50% 0;
}a:link {
	text-decoration:none;
	color:#ab2023;
}a:visited {
	text-decoration:none;
	color:#2c6871;
}a:hover {
	text-decoration:underline;
}a:active {
	text-decoration:underline;
} strong {
	font-weight:bold;
}h1 {
	font-size:20px;
	font-weight:normal;
}h2 {
	font-weight:normal;	
	font-size:16px;
	margin-bottom:15px;
}h3 {
	font-size:16px;
	margin-bottom:15px;
	font-weight:100;
}h4 {
	font-size:14px;	
	margin-bottom:10px;
	text-transform:uppercase;
	color:#333;
	font-weight:100;
}h5 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
	color:#333;
}p {
	font-size:1em;
	margin-bottom:10px;	
}.container_12 {
	background:#fff;
	padding:30px;
}.leftrightpadding {
	padding:0 10px;	
}.rightpadding {
	padding:0 10px 0 0;	
}.leftpadding {
	padding:0 0 0 10px;	
}
/*logo styles*/
.logo h1 {
	background-repeat:no-repeat;
	width:140px;
	height:71px;
	text-indent:-9999px;
}.logo h1 a {
	display:block;
	height:100%;
	width:100%;
} 
/*nav styles*/
.nav {
	margin-top:20px;
	margin-bottom:10px;
}.nav .nav_1, .nav .nav_2, .nav .nav_3, .nav .nav_4, .nav .nav_5 {
	margin-top:21px;
}.nav h2 {
	background-repeat:no-repeat;
	width:135px;
	height:14px;
	margin-bottom:20px;
}.nav h2 a {
	display:block;
	height:100%;
	width:100%;
	color:#000;
	padding:0 0 0 5px;
	#padding-top:0px;
}.nav h2 a:visited {
	color:000#;
}.nav h2 a:hover {
	text-decoration:none;	
}.nav_1 h2 a, .nav_4 h2 a {
	color:#fff;
}.nav_1 h2 a:visited, .nav_4 h2 a:visited {
	color:#fff;	
}.nav_0 {
	border-bottom:5px solid #fff;
}.nav_1 {
	background:url(../images/nav1.jpg) no-repeat;	
	border-bottom:5px solid #fff;
}.nav_2 {
	background:url(../images/nav2.jpg) no-repeat;	
	border-bottom:5px solid #fff;
}.nav_3 {
	background:url(../images/nav3.jpg) no-repeat;	
	border-bottom:5px solid #fff;
}.nav_4 {
	background:url(../images/nav4.jpg) no-repeat;	
	border-bottom:5px solid #fff;
}.nav_5 {
	background:url(../images/nav5.jpg) no-repeat;	
	border-bottom:5px solid #fff;
}.nav ul li p {
	font-style:italic;	
	margin-bottom:10px;
}

/*page styles */
/* --------------home (and some theatre entry) styles */
#home .nav h1, #entry .nav h1, #list .nav h1 {
	background-image:url(../images/TFLogoHome.jpg);	
}#home .maincontent h2, #entry .maincontent h2 {
	color:#ab2023;
}#home div.featuredarea {
	border:1px #cccccc solid;	
}#home .featuredarea h1 {
	background-image:url(../images/h1Home.png);
	left:-1px;
}#entry h3 a, #entry h3, #home h3, #home h3 a{
	color:#ab2023;
}#home .footer, #entry .footer {
	border-color:#ab2023;	
}#home .copyright, #entry .copyright {
	border-color:#c36061;	
}
/* --------------theatre entry styles */
#entry .theatreName {
	padding-bottom:25px;		
}#entry .theatreName h1 {
	background:#AB2023 url(../images/h1_bkgdEnd.jpg) 100% 0% no-repeat;
	padding-right:38px;
	height:30px;
	min-width:221px;
	width:auto;
}#entry .entryDetails {
	overflow:auto;
	max-height:1000px;
	margin-top:15px;
	padding-right:10px;
}#entry .basics {
	margin-bottom:20px;	
}#entry .rating {
	display:inline;	
}#entry .ratingName {
	display:inline;
	float:left;
}
/* --------------location styles */
#location .nav h1 {
	background-image:url(../images/TFLogoLocation.jpg);	
}#location .searchbar {
	border-color:#97c53c;	
}#location .maincontent h2 {
	color:#6c9b0d;
}#location .featuredarea h1 {
	background-image:url(../images/h1Location.png);
}#location h3 a, #location h3{
	color:#6C9B0D;	
}#location .footer {
	border-color:#97c53c;	
}#location .copyright {
	border-color:#b5d673;	
}#location .featuredarea .sidebar {
	min-height:464px;
	float:left;
}#location .featuredarea .map {
	height:100%;
	width:720px;
	float:left;
}
/* --------------theatre type styles */
#theatretype .nav h1 {
	background-image:url(../images/TFLogoTheatretype.jpg);	
}#theatretype .searchbar {
	border-color:#ffcf41;
}#theatretype .maincontent h2 {
	color:#e1a800;
}#theatretype .featuredarea h1 {
	background-image:url(../images/h1Theatretype.png);
	color:#333;
}#theatretype h3 a, #theatretype h3 {
	color:#e1a800;
}#theatretype .footer {
	border-color:#ffcf41;	
}#theatretype .copyright {
	border-color:#fedd77;	
}
/* --------------period styles */
#period .nav h1 {
	background-image:url(../images/TFLogoPeriod.jpg);	
}#period .searchbar {
	border-color:#2c6871;
}#period .maincontent h2 {
	color:#2c6871;
}#period .featuredarea {
	
}#period .featuredarea h1 {
	background-image:url(../images/h1Period.png);
}#period h3 a, #period h3 {
	color:#2c6871;
}#period .footer {
	border-color:#2c6871;	
}#period .copyright {
	border-color:#699499;	
}#period #slider-range {
	margin-bottom:10px;
	float:left;
}#period ul.sliderDates  {
	margin-bottom:10px;	
}#period .sliderDates li{
	padding-bottom:20px;
	list-style:none;
}#period .ui-widget-header {
	background-image:none;
	background-color:#2c6871;
}
/* --------------researchers styles */
#researchers .nav h1 {
	background-image:url(../images/TFLogoResearchers.jpg);	
}#researchers .searchbar {
	border-color:#f69c2d;
}#researchers .maincontent h2 {
	color:#f69c2d;
}#researchers .featuredarea h1, #researchers .button a {
	background:url(../images/h1Researchers.png) no-repeat;
	color:#333;
}#researchers h3, #researchers h3 a {
	color:#ea7b24;
}#researchers .footer {
	border-color:#f69c2d;	
}#researchers .copyright {
	border-color:#f8b868;	
}#researchers h3.button {
	margin-bottom:0px;	
}#researchers .button a {
	color:#fff;
	height:29px;
	width:221px;
	display:block;
	padding:10px 5px 0px 10px;
}#researchers .button a:hover {
	text-decoration:none;
	background:url(../images/h1ResearchersHover.png) no-repeat;
}
/* --------------list styles */
#list h3, #list h3 a{
	color:#ab2023;
}#list div.theatreList {
	margin:30px 0px 10px;
	width:940px;
}#list div.featuredarea {
	background:none;
}#list div.theatreList div.headerRow, #list div.theatreList div.theatreEntries, #list div.theatreList div.editRow {
	text-align:left;	
	background:none;
	margin-bottom:5px;
}#list div.theatreList div.editRow {
	background:#e7f3f4;
	border-bottom:2px solid #94bec4;
	border-top:1px solid #cde0e3;
	margin-bottom:0;
}#list div.theatreList div.editRow p {
	padding:  0 0 0 5px;
	margin-bottom:0px;
	text-align:left;
}#list div.theatreList div.headerRow {
	border-bottom:2px solid #94bec4;
}#list div.theatreList div.headerRow h3 {
	margin-bottom:0;
}#list div.theatreList div {
	vertical-align:middle;
	padding:5px 0;
}#list h3 {
	margin-bottom:10px;
}#list div.theatreList img.icon {
	padding-right:3px;
	vertical-align:middle;
}

/*searchbar styles */
.searchbar {
	background:#cde6e9;
	border-top:5px solid #ab2023;
	margin-bottom:20px;
	border-bottom:1px solid #cccccc;
	#margin-bottom:10px;
}.searchbar h2 {
	margin:15px 0 10px 10px;
	font-size:14px;
}form.search {
	margin:10px 10px 10px 0;	
}

/*breadcrumbs styles*/
.breadcrumbs p{
	padding:0 0 5px 10px;
	margin:-10px 0 0 0;
	#margin-top:0;
}

/*login bar styles*/
.container_12 {
	padding:50px 30px 30px 30px;
}
.login {
	width:100%;
	background:#E7F3F4;
	border-bottom:2px solid #94BEC4;
	border-top:1px solid #CDE0E3;
	position:absolute;
	top:0;
	right:0;
}.login p {
	text-align:right;
	padding:.5em;
	margin-bottom:0;
	margin-right:15px;
}

/* featured theatre styles */
div.featuredarea {
	position:relative;
	margin-top:20px;
	margin-bottom:15px;
	background:url(../images/bkgd_featuredarea.gif) repeat-y;
}.featuredarea h1{
	background:url(../images/h1Home.png) no-repeat;
	position:absolute;
	top:-19px;
	left:0px;
	color:#fff;
	padding:10px 0 0 10px;
	width:221px;
	height:34px;
	#padding-top:0px;
}.featuredarea .sidebar {
	padding-left:10px;	
	background:	#cde6e9;
	height:100%;
	width:210px;
}.featuredarea .sidebar h3 {
	padding-top:35px;	
}.featuredarea .sidebar h4 {
	padding-left:3px;
}.featuredarea .sidebar h4.active{
	background:#fff url(../images/h4_bkgd.gif) no-repeat 100% 0;
}.featuredarea .find {
	position:absolute;
	bottom:-1px;
	left:72px;
	height:24px;
	width:148px;
	background: url(../images/bkgd_find.gif) no-repeat;
	background-position:left;
}.featuredarea .find h3{
	margin-bottom:5px;
	padding:6px 5px 0 30px;
}.featuredarea .sidebar p{
	padding:0 10px 0 0;	
}.featuredarea .sidebar select{
	margin-bottom:10px;	
}.featuredimage {
	margin-right:0px;
}.featuredimage img {
	width:620px;
	/* featured home page image should be 620x462px in size */
}.featuredsidebar {
	margin-left:0px;
	margin-right:20px;
}div.theatre {
	margin-left:0;	
	padding:10px;
	border-bottom:1px solid #cccccc;
	height:134px;
	overflow:auto;
}div.theatre.last{
	border-bottom:none;
}.theatre h3 {
	font-style:italic;
	font-weight:normal;
	color:#2c6871;
	margin-top:5px;
}.theatre.active {
	background:#ffb04e;
}.theatre .tag {
	font-style:italic;	
}
/* maincontent styles */
.maincontent {
	margin-top:15px;
	margin-bottom:15px;
}.featuredarea .maincontent {
	margin-bottom:0px;	
}.maincontent .row {
	height:130px;	
	margin-bottom:10px;
}.maincontent h3 {
	margin:20px 0 10px 0;
}.maincontent h3:first-child {
	margin-top:0;
}

/*  image grid with caption overlay styles */
.boxgrid {
	background:#fff none repeat scroll 0 0;
	height:93px;
	overflow:hidden;
	position:relative;
	width:140px;	
	float:left;
}.boxgrid img {
	border:0 none;
	left:0;
	position:absolute;
	top:0;
}.captionfull .boxcaption {
	left:0;
	top:65px;
}.boxcaption {
	background-color:#fff;
	float:left;
	height:100%;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	position:absolute;
	width:100%;
}.boxgrid h4 {
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	margin: 5px 0;
	color:#333;
}.boxgrid p {
	font-size:12px;
	line-height:16px;
	padding:0 10px;
}.boxgrid p a {
	font-weight:bold;
	font-size:11px;
}.boxgrid.captionfull {
	margin-bottom:10px;
}
/* page editor styles */
.editor {
	border:1px solid #cccccc;
	background:#f8f8f8;
	margin-bottom:15px;
	margin-top:15px;
	padding:10px 0;
}.editor p.entryTypeTitle {
	display:inline;	
}.editor ul{
	display:inline;
}.editor ul.entryType li {
	display:inline;
	list-style:none;
	margin-left:10px;
}.editor input.editorNotes {
	width:100%;
	height:100px
}.editor p.editorNotesTitle {
	padding-top:10px;	
}.editor .qualityControl button {
	margin-top:5px;	
}.editor table {
	background:#fff;
	border:1px solid #cccccc;
	width:100%;
}.editor table tr {
	line-height:31px;	
	border-bottom:1px solid #cccccc;
}.editor table tr:hover {
	background:#e8e8e8;	
}.editor table td {
	padding:5px;
	vertical-align:middle;
}.editor table td a {
	display:block;
	text-decoration:none;
	color:#000;
}.editor table td a:hover {
	#text-decoration:underline;	
}.editor .entryContent p {
	margin-bottom:5px;	
}
/* footer styles */
.footer {
	border-top:5px solid #ab2023;
	margin-top:15px;
}.footer h4 {
	margin: 10px 0 5px 0;
}.footer .nav_0, .footer .nav_1, .footer .nav_2, .footer .nav_3, .footer .nav_4, .footer .nav_5 {
	background-image:none;	
}.footer .nav_0 h4, .nav_0:hover {
	border-bottom:5px solid #494a49;	
}.footer .nav_1 h4, .nav_1:hover, .nav_1.current {
	border-bottom:5px solid #c36061;	
}.footer .nav_2 h4, .nav_2:hover, .nav_2.current {
	border-bottom:5px solid #b5d673;	
}.footer .nav_3 h4, .nav_3:hover, .nav_3.current {
	border-bottom:5px solid #fedd77;	
}.footer .nav_4 h4, .nav_4:hover, .nav_4.current {
	border-bottom:5px solid #699499;	
}.footer .nav_5 h4, .nav_5:hover, .nav_5.current {
	border-bottom:5px solid #f8b868;	
}.footer ul {
	margin-bottom:10px;	
}.footer ul li ul li {
	margin-left:0px;
	list-style-type:none;
	font-size:11px;
}.copyright {
	border-top:1px solid #c36061;
	margin-top:10px;
	padding-top:5px;
	font-size:11px;
}
